data/ascii/component.cif filter=lfs diff=lfs merge=lfs -text
data/ascii/sg_center.cif filter=lfs diff=lfs merge=lfs -text
data/ascii/ndb_tokens.cif filter=lfs diff=lfs merge=lfs -text
data/binary/variant.odb filter=lfs diff=lfs merge=lfs -text
data/ascii/bond_angle_values.cif filter=lfs diff=lfs merge=lfs -text
data/ascii/ndb_cif.cif filter=lfs diff=lfs merge=lfs -text
data/ascii/ndb_cif_rms.cif filter=lfs diff=lfs merge=lfs -text
data/binary/mmcif_pdbx.sdb filter=lfs diff=lfs merge=lfs -text
data/binary/sg_center.odb filter=lfs diff=lfs merge=lfs -text
data/binary/space_group.odb filter=lfs diff=lfs merge=lfs -text
data/binary/master_internal_cif_mapping.odb filter=lfs diff=lfs merge=lfs -text
data/ascii/refinement.cif filter=lfs diff=lfs merge=lfs -text
data/binary/ndb_cif.odb filter=lfs diff=lfs merge=lfs -text
data/binary/ndb_cif_rms.odb filter=lfs diff=lfs merge=lfs -text
data/binary/ndb_refn.odb filter=lfs diff=lfs merge=lfs -text
data/binary/ndb_tokens.odb filter=lfs diff=lfs merge=lfs -text
data/ascii/variant.cif filter=lfs diff=lfs merge=lfs -text
data/ascii/dict_config.cif filter=lfs diff=lfs merge=lfs -text
data/ascii/master_internal_cif_mapping.cif filter=lfs diff=lfs merge=lfs -text
data/ascii/mmcif_ddl.dic filter=lfs diff=lfs merge=lfs -text
data/ascii/ndb_refn.cif filter=lfs diff=lfs merge=lfs -text
data/ascii/order_list filter=lfs diff=lfs merge=lfs -text
data/ascii/space_group.cif filter=lfs diff=lfs merge=lfs -text
data/ascii/mmcif_pdbx.dic filter=lfs diff=lfs merge=lfs -text
data/binary/refinement.odb filter=lfs diff=lfs merge=lfs -text
data/binary/component.odb filter=lfs diff=lfs merge=lfs -text
data/binary/dict_config.odb filter=lfs diff=lfs merge=lfs -text
